$rubik_font: 'https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,900;1,500&display=swap', sans-serif;
$zen_kaku_font: 'https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap', sans-serif;

$yellow: #ead200;
$yellow_light: #f5e552;
$yellow_dark: #ccb800;
$yellow_dark_bold: #938400;

$gray_dark_bold: #141414;
$gray_dark: #292929;
$gray: #666666;
$gray_light: #8f8f8f;
$gray_lighter: #ccc;
$gray_very_clear: #e0e0e0;